body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  

}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
     margin-bottom: 100px; /* Adjust the value as needed */
}


p {
    font-size: 30px;
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    
}
.container > div {
    width: 100%;
    
}


.introduction {
    height: 630px;
    padding-right: 50%; 
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box; 
    background: radial-gradient(circle at top left, 
            rgba(255,191,0,0.40388655462184875) 0%, 
            rgba(255,191,0,0.30024509803921573) 10%, 
            rgba(255,191,0,0.20220588235294112) 30%, 
            rgba(255,191,0,0.10416666666666663) 40%, 
            rgba(255,191,0,0) 80%, 
            rgba(255,191,0,0) 100%) top left no-repeat,
            url('Fruits.png') right center no-repeat transparent; 
    background-size: 50% auto;

}

.mission {
    height: 630px;
    padding-left: 50%; 
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    background-image: url('Apple.png'), radial-gradient(circle at bottom right, 
                rgba(255,191,0,0.40388655462184875) 0%, 
                rgba(255,191,0,0.30024509803921573) 10%, 
                rgba(255,191,0,0.20220588235294112) 20%, 
                rgba(255,191,0,0.10416666666666663) 30%, 
                rgba(255,191,0,0) 40%, 
                rgba(255,191,0,0) 100%);
    background-repeat: no-repeat;
    background-size: 50% auto, cover; /* Adjusted background size */
    background-position: left center, center; /* Adjusted background position */
}




.company-info {
    padding-top: 10%;
    background:
        linear-gradient(
            to bottom, 
            rgba(255, 191, 0, 0.4) 0%, 
            rgba(255, 191, 0, 0.42) 10%, 
            rgba(255, 191, 0, 0.44) 20%, 
            rgba(255, 191, 0, 0.46) 30%, 
            rgba(255, 191, 0, 0.4) 100%
        );
}

.Logo {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Jayo.png');
    margin: 0 auto; /* Center the Logo div horizontally */
}

.company-info p {
    text-align: center; /* Align text content to center */
    line-height: 2;
}





.product-service {
    height: 800px;
    padding-right: 50%; 
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 50%;
    box-sizing: border-box; 
    background:
        linear-gradient(
            to bottom, 
            rgba(255, 191, 0, 0.4) 0%, 
            rgba(255, 191, 0, 0.42) 10%, 
            rgba(255, 191, 0, 0.44) 20%, 
            rgba(255, 191, 0, 0.46) 30%, 
            rgba(255, 191, 0, 0.4) 100%
        ),
        url('Basket.png') right center no-repeat transparent; 
    background-size: 50% auto; 
}


.team-members {
     padding-top: 100px;
     padding-bottom: 100px;
     background: radial-gradient(circle, rgba(255,191,0,1) 0%, rgba(255,191,0,1) 3%, rgba(255,191,0,0) 3%, rgba(255,191,0,1) 12%, rgba(255,191,0,0) 12%, rgba(255,191,0,0.35066526610644255) 26%, rgba(255,191,0,0.3) 44%, rgba(255,191,0,0.3226540616246498) 60%, rgba(255,191,0,0.29744397759103647) 68%, rgba(255,191,0,1) 100%);
}

.team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    
}

.team-members h1{
padding-top: 100px;
padding-bottom: 100px;

}





.team-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}



.info-box1,
.info-box2,
.info-box3,
.info-box4,
.info-box5,
.info-box6,
.info-box7{
    font-size: 30px;
    width: 250px;
    height: 150px;
    border: transparent; 
    background-color: transparent; 
    box-sizing: border-box;
}


.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Logo.left,
.circle1.left,
.circle2.left,
.circle3.left,
.circle4.left,
.circle5.left,
.circle6.left,
.circle7.left{
    margin-right: 40px;
}

.info-box1.left,
.info-box2.left,
.info-box3.left,
.info-box4.left,
.info-box5.left,
.info-box6.left,
.info-box7.left{
    margin-left: 40px;
}


.team-row .circle2,
.team-row .circle3,
.team-row .info-box2,
.team-row .info-box3
 {
    margin-left: 250px; 
    margin-right: 250px;
}


.team-row .circle4,
.team-row .circle5,
.team-row .info-box4,
.team-row .info-box5
 {
    margin-left: 50px; 
    margin-right: 50px;
}

.team-row .circle6,
.team-row .circle7,
.team-row .info-box6,
.team-row .info-box7
 {
    margin-left: 250px;	
    margin-right: 250px;
}

.circle1 {
    background-image: url('Jayo.png');
}

.circle2 {
    background-image: url('Lor.png');
}

.circle3 {
    background-image: url('Tabinas.png');
}

.circle4 {
    background-image: url('Ang.png');
}

.circle5 {
    background-image: url('Dumadag.png');
}

.circle6 {
    background-image: url('Ruiz.png');
}

.circle7 {
    background-image: url('Corpuz.png');
}

.contact-info h1 {
    text-align: left;
    padding-top: 20px; 
    
}


.contact-info {
    background: linear-gradient(to top, rgba(255,191,0,1) 0%, rgba(255,191,0,1) 100%);
    padding-left: 10%;
    padding-bottom: 5% 
}






