
@keyframes flipYAxis {
  0% {
    /* perspective(400px) rotateY(0); */
    transform: perspective(400px) rotateY(0deg);
    animation-timing-function: ease-in;
  }
  50% {
   /* transform: perspective(400px) rotateY(180deg); */
    transform: perspective(400px) rotateY(180deg);
    animation-timing-function: ease-out;
  }
  100% {
    /* transform: perspective(400px) rotateY(0); */
    transform: perspective(400px) rotateY(360deg);
    animation-timing-function: ease-in;
  }
}

.hover\:title-logo:hover {
  animation: flipYAxis 1s infinite;
}